<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Dashboard Financeiro</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .form-label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .form-input {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        .btn {
            background-color: #111827;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #4b5563;
        }

        .btn-delete {
            background-color: #b91c1c;
        }

        .btn-delete:hover {
            background-color: #7f1d1d;
        }
    </style>
        <!--Exibição das despesas-->
        <div class="mt-8 text-center">
            <h2 class="text-lg mb-2">Despesas</h2>
            <table class="mx-auto border-collapse border border-gray-400">
                <thead>
                    <tr>
                        <th class="border border-gray-400 px-4 py-2">Descrição</th>
                        <th class="border border-gray-400 px-4 py-2">Valor</th>
                        <th class="border border-gray-400 px-4 py-2">Data</th>
                        <th class="border border-gray-400 px-4 py-2">Categoria</th>
                        <th class="border border-gray-400 px-4 py-2">Método de Pagamento</th>
                        <th class="border border-gray-400 px-4 py-2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr>
                        <td class="border border-gray-400 px-4 py-2">{{ expense.description }}</td>
                        <td class="border border-gray-400 px-4 py-2">{{ expense.value }}</td>
                        <td class="border border-gray-400 px-4 py-2">{{ expense.date }}</td>
                        <td class="border border-gray-400 px-4 py-2">{{ expense.category }}</td>
                        <td class="border border-gray-400 px-4 py-2">{{ expense.payment_method }}</td>
                        <td class="border border-gray-400 px-4 py-2">
                            <form action="{{ url_for('delete_expense', expense_id=expense.expense_id) }}" method="post">
                                <button type="submit"
                                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">Excluir</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Exibição das rendas -->
        <div class="mt-8 text-center">
            <h2 class="text-lg mb-2">Rendas</h2>
            <table class="mx-auto border-collapse border border-gray-400">
                <thead>
                    <tr>
                        <th class="border border-gray-400 px-4 py-2">Descrição</th>
                        <th class="border border-gray-400 px-4 py-2">Valor</th>
                        <th class="border border-gray-400 px-4 py-2">Data</th>
                        <th class="border border-gray-400 px-4 py-2">Fonte</th>
                        <th class="border border-gray-400 px-4 py-2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for income in incomes %}
                    <tr>
                        <td class="border border-gray-400 px-4 py-2">{{ income.description }}</td>
                        <td class="border border-gray-400 px-4 py-2">{{ income.value }}</td>
                        <td class="border border-gray-400 px-4 py-2">{{ income.date }}</td>
                        <td class="border border-gray-400 px-4 py-2">{{ income.source }}</td>
                        <td class="border border-gray-400 px-4 py-2">
                            <form action="{{ url_for('delete_income', income_id=income.income_id) }}" method="post">
                                <button type="submit"
                                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">Excluir</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Exibição dos orçamentos -->
        <div class="mt-8 text-center">
            <h2 class="text-lg mb-2">Orçamentos</h2>
            <table class="mx-auto border-collapse border border-gray-400">
                <thead>
                    <tr>
                        <th class="border border-gray-400 px-4 py-2">Categoria</th>
                        <th class="border border-gray-400 px-4 py-2">Limite de Gastos</th>
                        <th class="border border-gray-400 px-4 py-2">Período</th>
                        <th class="border border-gray-400 px-4 py-2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for budget in budgets %}
                    <tr>
                        <td class="border border-gray-400 px-4 py-2">{{ budget.category }}</td>
                        <td class="border border-gray-400 px-4 py-2">{{ budget.spending_limit }}</td>
                        <td class="border border-gray-400 px-4 py-2">{{ budget.period }}</td>
                        <td class="border border-gray-400 px-4 py-2">
                            <form action="{{ url_for('delete_budget', budget_id=budget.budget_id) }}" method="post">
                                <button type="submit"
                                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">Excluir</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    <!-- Adiciona um botão de logout -->
    <div class="logout-container">
        <form action="{{ url_for('logout') }}" method="post">
            <button type="submit" class="btn btn-logout mt-8 text-lg mb-2">Sair</button>
        </form>
    </div>
</body>

</html>